.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100% - 2px);
    background-color: white;
    gap: 1rem;
}

.rightside_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumb {
    width: 70px;
    height: 100%;
}

.payment {
    height: 60%;
    border: none;
    background-color: rgb(174, 247, 174);
    cursor: pointer;
}
.payment:hover {
    background-color: rgb(200, 252, 200);
}

.drag_icon {
    cursor: pointer;
}