.container {
    width: 100%;
    text-align: left;
    padding-bottom: 1rem;
}

.lineNum {
    display: block;
    margin: 1rem 0 .5rem 3rem;
}

.line {
    height: 1px;
    background-color: lightgrey;
}