.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default !important;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 80%;
    height: 700px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    cursor: default;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: fit-content;
    width: 90%;
    height: auto;
    margin: 3rem 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.img {
    border-radius: 10px;
}

.closebtn {
    position: fixed;
    top: 0;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: white;
    border: none;
}

@media (max-width: 480px) {
    .contents {
        grid-template-columns: 1fr;
    }
}