.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    gap: 2rem;
}

.profile_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2rem;
}
.profile_form > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.profile_form > div > label {
    font-size: 1.2rem;
    font-weight: bold;
}

.submit_btn {
    width: 200px;
    height: 3rem;
    background-color: #e6ffdf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.submit_btn:hover {
    background-color: lightgreen;
}