.container {
    width: 100%;
    height: fit-content;
    text-align: left;
}


.top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.more{
  margin-left: 1rem;
}
.more:hover {
  color: blue;
}

.cards_wrapper {
  width: 100%;
  overflow-x: scroll;
}

.cards {
    width: fit-content;
    height: fit-content;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
